.label{
    width: Hug (83px)px;
    height: Hug (28px)px;
    top: 20px;
    left: 20px;
    padding: 4px 14px 4px 14px;
    gap: 8px;
    border-radius: 28px 0px 0px 0px;
    opacity: 0px;

    background: #FEE2E2;
;

}